:root {
    /** Colors */
    --anti-flash-white: #F3F3F3;
    --black: #000000;
    --charleston-green-v1: #2D2D2D;
    --charleston-green-v2: #2B2B2B;
    --paolo-veronese-green: #009379;
    --piggy-pink: #F6DCE9;
    --pink-lace: #F9E6F0;
    --white: #ffffff;

    /**Formulario*/
    --height-input: 69px;

    /**Enlaces*/
    --color-menu-link: var( --charleston-green-v1 );

    /***/
    --overall-font-size: 62.5%;
}
